
window {
    background-color: transparent;
}

#status-slider {
    background: transparent;
    border-radius: 5px;
    padding: 2px;
}

#status-slider highlight {
    background: rgba(1, 150, 6, 1);
    border-radius: 5px;
}

#status-slider trough {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    min-height: 8px;
}

#status-slider slider {
    border-radius: 50%;
    background:rgba(1, 150, 6, 1);
    border: 2px solid #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: -5px 0;
}
#progress-label {
    color: rgba(1, 150, 6, 1);
    font-weight: bold;
    text-shadow: 0 0 5px #000000;
}
