Package: echo-meter
Version: 1.0.1
Section: utils
Priority: optional
Architecture: amd64
Depends: gtk4, json-glib-1.0
Maintainer: nithin <nithin3dev@gmail.com>
Description: A GTK4 application for visualizing echo measurements.
 A simple visual echo analysis tool built with GTK4 and json-glib.

